<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
</ion-header-bar>

<ion-view>
  <ion-content>    
    <section class="contact-page">
      <img src="img/map.png" alt="BenceBU harita" />
      <div class="contact-content">
        
        <div class="contact-info">
          <h5>
              Boğaziçi Üniversitesi, Güney Kampüs 1. Erkek Yurdu, ENSO Kulüp Odası, Sarıyer / İstanbul
          </h5>

          <p>
            <img src="../img/contact-icon-2@3x.png" height="39" width="55" alt="">
            enso@boun.edu.tr
          </p>

          <p>
            <img src="../img/phone-icon@3x.png" height="47" width="34">
            0212 257 57 73
          </p>
        </div>
        
        <div class="row contact-links">
          <a href="#" class="col">
            <img src="../img/twitter-button@3x.png" height="80" width="80" alt="">
          </a>
          <a href="#" class="col">
            <img src="../img/facebook-button@3x.png" height="80" width="80" alt="">
          </a>
          <a href="#" class="col">
            <img src="../img/instagram-button@3x.png" height="80" width="80" alt="">
          </a>
          <a href="#" class="col">
            <img src="../img/linkedin-button@3x.png" height="80" width="80" alt="">
          </a>
          <a href="#" class="col">
            <img src="../img/bounenso-button@3x.png" height="80" width="80" alt="">
          </a>
        </div>
      </div>

    </section>

  </ion-content>
</ion-view>
