<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title"><img src="img/logo@3x.png" alt="BenceBU" /></h1>
</ion-header-bar>

<ion-view>
  <ion-content>
    <section class="calendar-page">
      <header>
        <div class="category-select">
          <a data-category="academic" ng-click="setCategory($event)" href="#">Akademik</a>
          <a data-category="other" ng-click="setCategory($event)" href="#" class="active">Diğer</a>
        </div>
      </header>
      <section class="calendar-area">
    <div class="calendar-container">
      <div class="calendar">
        <header>
          <h2 class="month"></h2>
          <a class="btn-prev fontawesome-angle-left" href="#"></a>
          <a class="btn-next fontawesome-angle-right" href="#"></a>
        </header>
        <table>
          <thead class="event-days">
            <tr></tr>
          </thead>
          <tbody class="event-calendar">
            <tr class="1"></tr>
            <tr class="2"></tr>
            <tr class="3"></tr>
            <tr class="4"></tr>
            <tr class="5"></tr>
          </tbody>
        </table>
        <div class="list">
          <a href="#/app/events/{{ event.index }}" class="day-event" ng-repeat="event in events track by $index" date-month="{{ event.m }}" date-day="{{ event.d }}">
            <h2 class="title">{{ event.title }}</h2>
            <small class="date">Başlangıç: {{ event.start_time | datetime }}</small> <br>
            <small class="date">Bitiş: {{ event.end_time | datetime }}</small> <br>
          </a>
        </div>
      </div>
    </div>
      </section>
    </section>
  </ion-content>
</ion-view>
