<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
  <div class="buttons">
    <button class="button ion-plus icon button-icon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
    <section class="contact-page">
      <header>
        <div class="input-container">
          <input type="search" ng-keyup="search($event)" placeholder="Search for Instructor">
          <i></i>
        </div>
      </header>
      <ion-list ng-repeat="contact in contacts track by $index">
        <ion-item can-swipe="true">
          <h5>{{ contact.full_name }}</h5>
          <h6>{{ contact.title }}</h6>
          <ion-option-button>
            <img src="../img/agenda.png" height="auto" width="35px">
          </ion-option-button>
          <ion-option-button>
            <img src="../img/mail.png" height="auto" width="33px">
          </ion-option-button>
          <ion-option-button>
            <img src="../img/phone.png" height="auto" width="23px">
          </ion-option-button>
        </ion-item>
      </ion-list>
    </section>

  </ion-content>
</ion-view>
