<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
    <section class="hall">

      <div class="program" ng-repeat="day in days track by $index">
        <h2 class="date"><span class="highlighted"><span ng-if="$first">Bugün&nbsp;•&nbsp;</span></span>{{today + $index}} {{month}} {{daysOfTheWeek[(dayOfTheWeek + $index)%7]}}</h2>  
        <div class="row lunch">
          <div class="col col-20 lunch-time">Öğlen</div>
          <div class="col col-80 lunch-content">
            <span>{{ day.noon }}</span>
          </div>
        </div>
        <div class="row lunch">
          <div class="col col-20 lunch-time">Akşam</div>
          <div class="col col-80 lunch-content">
            <span>{{ day.evening }}</span>
          </div>
        </div>
      </div>
    </section>

  </ion-content>
</ion-view>
