<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear">
			<i class="icon ion-ios7-arrow-back"></i> Back </ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu id="left-menu" side="left">
		<ion-content>
			<ion-list>
				<ion-item id="m1" nav-clear menu-close>
					<i></i>
					<a href="#/app/stories">Haberler</a>
				</ion-item>
				<ion-item id="m2" nav-clear menu-close>
					<i></i>
					<a href="#/app/contacts">Akademik Rehber</a>
				</ion-item>
				<ion-item id="m3" nav-clear menu-close>
					<i></i>
					<a href="#/app/calendar">Takvim</a>
				</ion-item>
				<ion-item id="m4" nav-clear menu-close>
					<i></i>
					<a href="#/app/posts">BUmeydan</a>
				</ion-item>
<!-- 				<ion-item id="m5" nav-clear menu-close>
					<i></i>
					<a href="#/app/campus">Kampüs</a>
				</ion-item>
 -->				<ion-item id="m6" nav-clear menu-close>
					<i></i>
					<a href="#/app/hall">Yemekhane</a>
				</ion-item>
				<ion-item id="m7" nav-clear menu-close>
					<i></i>
					<a href="#/app/about">Bize Ulaşın</a>
				</ion-item>
				<ion-item id="m8" nav-clear menu-close ng-click="logout()" ng-show="isLoggedIn()">
					<i></i>
					<a href="#/app/logout">Çıkış Yap</a>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>