<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
  <div class="buttons">
    <button class="button ion-plus icon button-icon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
    <section class="forum-post">

      <div class="row post-owner">
        
        <div class="col col-20 owner-avatar">
          <img src="img/avatar-2.png" width="100%" height="100%">
          <img src="img/badge-{{ post.category }}@3x.png" ng-show="post.category" class="post-badge" width="25" height="25">
        </div>

        <div class="col col-80 owner-info">
          <h5>{{ me.username }}</h5>
        </div>
      </div>
      <div class="col-100">
        <h4 class="post-title">Kategori seç/değiştir</h4>

        <div class="row category-selector" data-category="question" ng-click="setCategory('question')">
          <div class="col col-20">
            <img src="img/badge-question@3x.png" width="100%" height="100%">
          </div>
          <div class="col col-80">
            <h4 class="post-title">Soru</h4>
          </div>
        </div>

        <div class="row category-selector" data-category="pet" ng-click="setCategory('pet')">
          <div class="col col-20">
            <img src="img/badge-pet@3x.png" width="100%" height="100%">
          </div>
          <div class="col col-80">
            <h4 class="post-title">Hayvan</h4>
          </div>
        </div>

        <div class="row category-selector" data-category="housing" ng-click="setCategory('housing')">
          <div class="col col-20">
            <img src="img/badge-housing@3x.png" width="100%" height="100%">
          </div>
          <div class="col col-80">
            <h4 class="post-title">Ev / Kalacak Yer</h4>
          </div>
        </div>

        <div class="row category-selector" data-category="announcement" ng-click="setCategory('announcement')">
          <div class="col col-20">
            <img src="img/badge-announcement@3x.png" width="100%" height="100%">
          </div>
          <div class="col col-80">
            <h4 class="post-title">Duyuru</h4>
          </div>
        </div>

        <div class="row category-selector" data-category="sale" ng-click="setCategory('sale')">
          <div class="col col-20">
            <img src="img/badge-sale@3x.png" width="100%" height="100%">
          </div>
          <div class="col col-80">
            <h4 class="post-title">Alım / Satım</h4>
          </div>
        </div>
      </div>

      <footer>
        <input type="text" ng-model="post.title" placeholder="Başlık">
        <textarea name="details" ng-model="post.details" placeholder="Yazı"></textarea>
        <button ng-click="add()">Gönder</button>
      </footer>

    </section>

  </ion-content>
</ion-view>
