<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <section class="forum-head">
      <div class="category-select">
        <a href="#/app/posts">İlanlar</a>
        <a href="#/app/categories" class="active">Kategoriler</a>
      </div>
    </section>

    <section class="forum-content categories">

      <a href="#/app/posts?category=question" class="post row">
        <div class="col col-20">
          <img src="img/badge-question@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Soru</h4>
        </div>
      </a>

      <a href="#/app/posts?category=pet" class="post row">
        <div class="col col-20">
          <img src="img/badge-pet@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Hayvan</h4>
        </div>
      </a>

      <a href="#/app/posts?category=housing" class="post row">
        <div class="col col-20">
          <img src="img/badge-housing@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Ev / Kalacak Yer</h4>
        </div>
      </a>

      <a href="#/app/posts?category=announcement" class="post row">
        <div class="col col-20">
          <img src="img/badge-announcement@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Duyuru</h4>
        </div>
      </a>

      <a href="#/app/posts?category=sale" class="post row">
        <div class="col col-20">
          <img src="img/badge-sale@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Alım / Satım</h4>
        </div>
      </a>

    </section>

  </ion-content>
</ion-view>
