<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
  <div class="buttons">
    <button class="button ion-plus icon button-icon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <section class="forum-head">
      <div class="category-select">
        <a href="#/app/posts" class="active">İlanlar</a>
        <a href="#/app/categories">Kategoriler</a>
      </div>
    </section>

    <section class="forum-content">
      <a href="#/app/posts/{{ post.index }}" class="post row" ng-repeat="post in posts track by $index">
        <div class="col col-20">
          <img src="img/avatar-2.png" width="100%" height="100%">
          <img src="img/badge-{{ post.category }}@3x.png" class="post-badge" width="25" height="25">
        </div>
        <div class="col col-80">
          <h4 class="post-title">{{ post.title }}</h4>
          <h5 class="post-sender">{{ post.by.username }}</h5>
        </div>
      </a>
      <a href="#/app/posts/new?category={{ category }}" ng-hide="!!posts.length" class="post row">
        <div class="col col-20">
          <img src="img/badge-{{ category }}@3x.png" width="100%" height="100%">
        </div>
        <div class="col col-80">
          <h4 class="post-title">Hiç gönderi yok</h4>
          <h5 class="post-sender">İlk sen gönder?</h5>
        </div>
      </a>

    </section>

  </ion-content>
</ion-view>
