<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
  <div class="buttons">
    <button class="button ion-plus icon button-icon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    
    <section class="forum-post">

      <div class="row post-owner">
        
        <div class="col col-20 owner-avatar">
          <img src="img/avatar-2.png" width="100%" height="100%">
          <img src="img/badge-{{ post.category }}@3x.png" class="post-badge" width="25" height="25">
        </div>

        <div class="col col-80 owner-info">
          <h5>{{ post.by.username }}</h5>
          <h6>{{ post.created_at | moment }}</h6>
        </div>
      </div>

      <div class="post-description">
        <h2>
          {{ post.title }}
        </h2>
        <p>
          {{ post.details }}
        </p>
      </div>

      <div class="post-votes">
        <a href="#" class="upvote active" ng-click="like()">
          <i></i>
          {{ post.liked_by.length }} kişi beğendi
        </a>
        <a href="#" class="downvote" ng-click="like(true)">
          <i></i>
          {{ post.disliked_by.length }} kişi beğenmedi
        </a>
      </div>

      <div class="row post-reply" ng-repeat="comment in post.comments">
        <div class="col col-20">
          <img src="img/avatar-2.png" width="100%" height="100%" class="reply-avatar">
        </div>
        <div class="col col-80 reply-details">
          <h5>{{ comment.by.username }}</h5>
          <p>{{ comment.details }}</p>
          <div class="row reply-votes">
            <a href="#" class="upvote" ng-click="likeComment(comment._id)">
              <i></i>
              {{ comment.liked_by.length }}
            </a>
            <a href="#" class="downvote active" ng-click="likeComment(comment._id, true)">
              <i></i>
              {{ comment.disliked_by.length }}
            </a>
          </div>
        </div>
      </div>

      <footer>
        <img src="../img/comment-icon.png">
        <input type="text" ng-model="comment.details" placeholder="Yorum yap...">
        <button ng-click="addComment()">Gönder</button>
      </footer>

    </section>

  </ion-content>
</ion-view>
