<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title">
    <img src="img/logo@3x.png" alt="BenceBU" />
  </h1>
  <div class="buttons">
    <button class="button ion-share icon button-icon"></button>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <section class="news-head">
      <i class="shadow top"></i>
      <img src="{{ story.file }}" class="news-cover" width="100%" height="100%">
      <i class="shadow bottom"></i>
    </section>

    <section class="news-content">
      <h2>{{ story.title }}</h2>
      <div ng-bind-html="story.details"></div>
    </section>

    <a ng-if="story.prev" href="#/app/stories/{{ story.prev.index }}" class="next-news">
      <i class="separator"></i>
      <h5>Sıradaki Haber</h5>
      <div class="next-news-info">
        <img src="{{ story.prev.file }}" width="100%" height="100%">
        <h3>{{ story.prev.title }}</h3>
        <i class="shadow bottom"></i>
      </div>
    </a>

  </ion-content>
</ion-view>
