<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </div>
  <h1 id="logo" class="title"><img src="img/logo@3x.png" alt="BenceBU" /></h1>
</ion-header-bar>

<ion-view>
  <ion-content>

    <section class="calendar-detail">
      <div class="event-info">
        <h4>{{ event.category_def }}</45>
        <h5>Başlangıç: {{ event.start_time | datetime }}</h5>
        <h5>Bitiş: {{ event.end_time | datetime }}</h5>
        <h6>{{ event.location }}</h6>
      </div>
      <div class="event-detail">
        <h3>Açıklama:</h3>
        <div ng-bind-html="event.details"></div>
      </div>
      <a href="{{ action.href }}" ng-show="action.href" class="get-tickets">{{ action.title }}</a>
    </section>

  </ion-content>
</ion-view>
