<ion-header-bar class="bar-positive">
	<div class="buttons">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</div>
	<h1 id="logo" class="title">
		<img src="img/logo@3x.png" alt="BenceBU" />
	</h1>
</ion-header-bar>

<ion-view>
	<ion-content>
		<div class="scroll">
			<div id="slider">
				<ion-slide-box on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="story in stories track by $index">
						<a href="#/app/stories/{{ story.index }}" class="box">
							<div class="badge-hold">
								<span class="special">ÖZEL</span>
							</div>
							<h3>{{ story.title }}</h3>
							<img src="{{ story.file }}" alt="{{ story.title }}">
							<div class="shadow"></div>
						</a>
					</ion-slide>
				</ion-slide-box>
			</div>
			
			<!-- News List -->
			<div id="news">				
				<a class="news-box" ng-repeat="story in stories track by $index" href="#/app/stories/{{ story.index }}">
					<img src="{{ story.file }}" alt="{{ story.title }}">
					<div class="news-info">
						<h4>{{ story.title }}</h4>
						<p class="time">{{ story.created_at | moment }}</p>
					</div>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>



