/* ===== Primary Styles ========================================================
Author: Safak Otur
========================================================================== */


/* 
* Fonts
*******************/
@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Regular.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Semibold.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Semibold.woff') format('woff'), url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'), url('../fonts/SourceSansPro-Semibold.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Bold.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Bold.woff') format('woff'), url('../fonts/SourceSansPro-Bold.ttf') format('truetype'), url('../fonts/SourceSansPro-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-It.eot');
	src: local('☺'), url('../fonts/SourceSansPro-It.woff') format('woff'), url('../fonts/SourceSansPro-It.ttf') format('truetype'), url('../fonts/SourceSansPro-It.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Light.eot');
	src: local('☺'), url('../fonts/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro-Light.ttf') format('truetype'), url('../fonts/SourceSansPro-Light.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}



/* 
* General
*******************/
* { -webkit-font-smoothing: antialiased; }
body { font-family: 'SourceSansPro', Helvetica, Arial; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'SourceSansPro', Helvetica, Arial; }
.scroll { -webkit-overflow-scrolling: touch; }

/* 
* Header
*******************/
#logo { width: 132px; height: 20px; margin: 15px auto; }
#logo img { display: block; margin: 0 auto; width: 100%; }

/* 
* Menu
*******************/
#left-menu { background: url('../img/menu-bg.jpg') no-repeat left top; background-size: cover; }
#left-menu .item, #left-menu .item-complex .item-content, #left-menu .item-radio .item-content { background: transparent; color: #fcfcfc; border: 0; }

#left-menu { font-size: 18px; }
#left-menu .list { padding-top: 40px;  }
#left-menu .list .item { padding-bottom: 0px; }
#left-menu .list .item i { float: left; width: 40px; height: 40px; margin-right: 10px; }
#left-menu .list .item span, #left-menu .list .item a { float: left; color:#fff; text-decoration: none }
#left-menu #m1 { }
#left-menu #m1 i { background: url('../img/news-icon@3x.png') no-repeat center top; background-size: 22px 17px; }
#left-menu #m2 { }
#left-menu #m2 i { background: url('../img/user-icon@3x.png') no-repeat center top; background-size: 20px 20px; }
#left-menu #m3 { }
#left-menu #m3 i { background: url('../img/calendar-icon@3x.png') no-repeat center top; background-size: 20px 20px; }
#left-menu #m4 { margin-top: 60px; }
#left-menu #m4 i { background: url('../img/social-icon@3x.png') no-repeat center top; background-size: 24px 18px; }
#left-menu #m5 { }
#left-menu #m5 i { background: url('../img/campus-icon@3x.png') no-repeat center top; background-size: 21px 18px; }
#left-menu #m6 { }
#left-menu #m6 i { background: url('../img/food-icon@3x.png') no-repeat center top; background-size: 12px 21px; }
#left-menu #m7 { }
#left-menu #m7 i { background: url('../img/mail-icon-2@3x.png') no-repeat center top; background-size: 25px 20px; }
#left-menu #m8 { }
#left-menu #m8 i { background: url('../img/logout-icon.png') no-repeat center top; background-size: 25px 25px; }


/* 
* Newsfeed
*******************/
#slider {  }
#slider img { width: 100%;  }
#slider .shadow-top { background: url('../img/shadow-top.png') repeat-x left top; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 99; pointer-events: none; }
#slider .shadow-bottom { background: url('../img/shadow-bottom.png') repeat-x left top; width: 100%; height: 100%; position: absolute; left: 0; bottom: 5px; z-index: 2; pointer-events: none; }
#slider .shadow { background: url('../img/shadow.png') repeat-x left top; width: 100%; height: 100%; position: absolute; left: 0; bottom: 5px; z-index: 2; pointer-events: none; }
#slider .box h3 { position: absolute; bottom: 13%; left: 0; width: 100%; color: #fff; text-align: center; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); z-index: 3;}
.slider-pager-page { color: #fff !important; }
.slider-pager { z-index: 999; }

.badge-hold { display: inline-block; position: absolute; bottom: 40%; left: 0; width: 100%; text-align: center; z-index: 9999; }
.badge-hold .special { background: #397fcd; color: #fff; text-align: center; border-radius: 14px; padding: 5px 25px; font-weight: bold; font-size: 20px;}


.news-box { padding: 25px 20px 5px; display: block; overflow: hidden; }
.news-box img { max-width: 35%; float: left; }
.news-box .news-info { float: right; width: 60%; color: #333239; font-size: 16px; line-height: 20px;}
.news-box h3 { color: #121318; font-size: 18px; text-shadow: none; font-weight: 500;}
.news-box .desc { color: #333239; }
.news-box .time { color: #7f7f7f; font-weight: 200; }

/* 
* Posts
*******************/
.forum-head{background: url('../img/forum-bg-placeholder.jpg') no-repeat center;height:230px;width:100%;background-size:cover;position: relative;}
.forum-head .category-select{
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -125px;
}
.forum-content{}
.forum-content .post{position: relative;text-decoration: none;padding: 10px 5px;border-bottom: 1px solid #e8e9ea;}
.forum-content .post:first-child{padding-bottom:5px;}
.forum-content .post:nth-child(2n){background: #f4f4f4;}
.forum-content .post .post-badge{position: absolute;left: 50px;bottom: 18px;border: 1px solid #fff;border-radius: 50px;}
.forum-content .post .post-title{font-size: 21px;color: #333239;font-family: 'Open Sans', sans-serif;margin-top: 15px;margin: 7px 0 5px 5px;white-space: nowrap;   overflow: hidden;   text-overflow: ellipsis;}
.forum-content .post .post-sender{margin: 0 0 0 5px;font-size: 17px;color: #333239;font-family: 'Open Sans', sans-serif;font-weight: 300;white-space: nowrap;   overflow: hidden;   text-overflow: ellipsis;}
.forum-content.categories .post-title{margin: 20px 0 0 5px;}
.forum-content .row + .row{padding-bottom:5px;margin-top: 0;}

/* 
* Post
*******************/
.forum-post{background: #e0e0e0;padding: 15px 15px 120px;}
.forum-post .post-owner{background: #fff;}
.forum-post .owner-avatar{position: relative;}
.forum-post .owner-avatar img:nth-child(1){}
.forum-post .owner-avatar img:nth-child(2){position: absolute;bottom: 5px;right: 5px;border-radius: 50px;border: 1px solid #fff;}
.forum-post .owner-info{padding-left: 15px;}
.forum-post .owner-info h5{font-size: 20px;color: #333239;margin-top: 7px;margin-bottom: 0;}
.forum-post .owner-info h6{font-size: 20px;color: #a3a3a3;margin: 0;}
.forum-post .post-description{background: #fff;padding: 25px 20px;}
.forum-post .post-description h2{font-size: 20px;color: #121518;margin-bottom: 20px;}
.forum-post .post-description p{font-size: 15px;color: #121318;line-height: 27px;}
.forum-post .post-description p a{color: #121318;text-decoration: none;font-weight: bold;}
.forum-post .post-votes{font-size: 16px;padding: 15px;float: left;width: 100%;border: 1px solid #e8e9ea;background: #f4f4f4;}
.forum-post .post-votes .upvote{text-decoration: none; color: #a3a3a3;float: left;font-weight: 500;}
.forum-post .post-votes .downvote{text-decoration: none; color: #a3a3a3;float: right;font-weight: 500;}
.forum-post .post-votes .upvote i{background: url('../img/like.png') no-repeat center;background-size: 23px; width: 23px; height: 22px; float: left;margin: -4px 10px 0 0;}
.forum-post .post-votes .downvote i{background: url('../img/dislike.png') no-repeat center;background-size: 23px;width: 23px;height: 22px;float: left;margin-right: 10px;}
.forum-post .post-votes a.active, .forum-post .reply-votes a.active{color:#467eb5;}
.forum-post .post-votes .upvote.active i, .forum-post .reply-votes .upvote.active i{background-image:url('../img/like-active.png');}
.forum-post .post-votes .downvote.active, .forum-post .reply-votes .downvote.active{color:#c53f3f;}
.forum-post .post-votes .downvote.active i, .forum-post .reply-votes .downvote.active i{background-image:url('../img/dislike-active.png');}
.forum-post .post-reply{background: #fff;border-bottom: 6px solid #e8e9ea;}
.forum-post .post-reply .reply-avatar{}
.forum-post .post-reply .reply-details{}
.forum-post .post-reply .reply-details h5{font-size: 16px;color: #333239;margin-top: 0px;}
.forum-post .post-reply .reply-details p{}
.forum-post .reply-votes{}
.forum-post .reply-votes .upvote{float: left;margin-right: 35px;font-weight: 500;color: #a3a3a3;text-decoration: none;}
.forum-post .reply-votes .downvote{float: left;font-weight: 500;text-decoration: none;color: #a3a3a3;}
.forum-post .reply-votes .upvote i{background: url('../img/like.png') no-repeat center; background-size: 20px; width: 20px; height: 20px; float: left; margin: 0px 10px 0 0;}
.forum-post .reply-votes .downvote i{background: url('../img/dislike.png') no-repeat center; background-size: 20px; width: 20px; height: 20px; float: left; margin: 0px 10px 0 0;}
.forum-post footer{position: fixed;bottom: 0;left: 0;width: 100%;height: 50px;background: #f4f4f4;}
.forum-post footer input[type="text"]{width: 64%;float: left;margin: 5px 5px 5px 10px;border: 1px solid #e8e9ea;border-radius: 5px;height: 40px;padding: 0 10px;}
.forum-post footer textarea{width: 64%;float: left;margin: 5px 5px 5px 10px;border: 1px solid #e8e9ea;border-radius: 5px;height: 200px; resize:none; padding: 10px;}
.forum-post footer img{float: left;width: 10%;margin-top: 10px;margin: 14px 0;padding-left: 13px;}
.forum-post footer button{float: left;width: 20%;background: none;border: none;font-weight: 500;color: #333239;font-size: 16px;padding-top: 15px;padding: 15px 0;}

/* 
* News
*******************/
.news-head{height: 350px;position: relative;}
.news-head .news-cover{}
.news-head .shadow, .next-news .shadow{position: absolute;left: 0;width: 100%;height: 190px;background-size: cover !important;z-index: 9;}
.news-head .shadow.top, .next-news .shadow.top{top: 0;background: url('../img/shadow-top.png') no-repeat center;}
.news-head .shadow.bottom, .next-news .shadow.bottom{bottom: 0;background: url('../img/shadow-bottom.png') no-repeat center;}
.news-content{padding: 25px;}
.news-content h2{color: #121318;text-align: left;font-size: 25px;margin-bottom: 30px;}
.news-content p{margin-bottom: 20px;font-size: 17px;line-height: 25px;}
.next-news{text-decoration: none;}
.next-news .separator{background: #e7e7e7;width: 120px;height: 2px;margin: 0 auto;display: block;}
.next-news h5{font-size: 20px;color: #333239;font-weight: normal;text-align: center;margin: 25px 0;}
.next-news .next-news-info{position: relative;height: 300px;}
.next-news .next-news-info img{position: absolute;left: 0;top: 0;z-index: 9;}
.next-news .next-news-info h2{position: absolute;bottom: 60px;z-index: 99;left: 35px;margin: 0;font-size: 25px;color: #FFFFFF;}
.next-news .next-news-info h3{z-index: 99;position: absolute;bottom: 15px;left: 35px;margin: 0;color: #FFFFFF;font-size: 19px;font-weight: normal;}

/* 
* Contact
*******************/
.contact-page{
    height: 100%;
}
.contact-page header{background: url('../img/contact-bg.jpg') no-repeat center;background-size:cover;height: 170px;padding-top: 110px;}
.contact-page header input{width: 300px;margin: 0 auto;border: 2px solid #e8e9ea;background: transparent;border-radius: 50px;padding-left: 60px;box-sizing: border-box;color: #fcfcfc;padding-top: 2px;font-size: 15px;font-family: 'SourceSansPro', Helvetica, Arial;font-weight: 500;}
.contact-page header i{background: url('../img/search-icon@3x.png') no-repeat center;position: absolute;width: 20px;height: 20px;background-size: 20px;left: 60px;bottom: 7px;}
.contact-page .input-container{position: relative;}
.contact-page .item-content{}
.contact-page .item-content h5{font-size: 20px;color: #333239;}
.contact-page .item-content h6{font-weight: normal;font-size: 17px;color: #333239;}
.contact-page .item-options{background: #397fcd;}
.contact-page .item-options .button{background: #397fcd;border: none;border-color: transparent;padding: 0 20px;}
.contact-page .item-options .button:nth-child(1){padding-top: 20px;}
.contact-page .item-options .button:nth-child(2){padding-top: 24px;}
.contact-page .item-options .button:nth-child(3){padding-top: 21px;}
.contact-page ::-webkit-input-placeholder {color: #fcfcfc;}
.contact-page img {
	width: 180%;
	margin: 0 -40%;
}

.contact-content{ position: absolute; top: 400px;}
.contact-info{background: rgba(255,255,255,.8);border-radius: 5px;text-align: center;margin: 0 10px 5px;padding: 10px;}
.contact-info h5{font-size: 17px;color: #333239;margin: 10px 0 20px;font-weight: normal;} 
.contact-info p{margin: 0 0 20px;} 
.contact-info p img{width: 20px;height: auto;margin: 0 26px -2px -25px;} 
.contact-info p:nth-of-type(2) img{margin: 0 25px -2px -45px;width: 18px;} 
.contact-links{background: transparent;}
.contact-links a{padding: 0;background: #000;border-radius: 0;margin: 0 5px;}
.contact-links img{display: block;margin: 0 auto;width: 100%;height: auto;}

/* 
* Hall
*******************/
.hall{}
.program{}
.program .date{font-size: 16px;font-weight: normal;padding-left: 30px;background: #f4f4f4;padding: 20px 0 20px 15px;border-bottom: 1px solid #e8e9ea;border-top: 1px solid #e8e9ea;margin: 0;}
.hall .date .highlighted{font-weight: bold;}
.program .lunch{border-bottom: 1px solid #e8e9ea;margin: 0;height: 75px;}
.program .lunch-time{text-align: center;padding-top: 25px;font-weight: bold;}
.program .lunch-content{display: table;height: 75px;float: left;padding: 0;margin-top: -5px;}
.program .lunch-content span{display: table-cell; vertical-align: middle;font-size: 14px;line-height: 19px;}


/* 
* Calendar
*******************/
.calendar-page>header{height: 80px;background: #4a89cf;padding-top: 25px;}
.calendar-page>header select{margin: 0px auto;display: block;}
.category-select{text-align: center;width: 250px;margin: 0 auto;font-size: 15px;height: 30px;background: #fff;border-radius: 50px;color: #000;font-family: 'SourceSansPro', Helvetica, Arial;}
.category-select a{width: 50%;float: left;height: 100%;padding-top: 3px;text-decoration: none;color: #397fcd;}
.category-select a.active{background: #397fcd;color: #fff;border-radius: 50px;height: 94%;margin: 1px 0px 0 -1px;padding-top: 1px;}
.category-select a:first-of-type.active{width: 49%;margin-left: 1px;}
.calendar-area{margin-top: 25px;}
.calendar-area header a>img{margin: 4px 0 0 0;}
.day-event{display: block; padding-top: 0 !important;}
.day-event .date{text-align: left;padding: 10px 0 10px 15px;}
.day-event .date span{float: left;font-size: 16px !important;font-weight: bold;}
.day-event .lunch-time{color: #fff;background: #397fcd;border-radius: 50px;padding: 6px 10px 10px 10px;height: 35px;margin: 15px 0 0 10px;}
.day-event .lunch{background: #fff;}

/* 
* Calendar Detail
*******************/
.calendar-detail{}
.calendar-detail .event-info{background: #f4f4f4;padding: 15px;margin: 15px 0;}
.calendar-detail .event-info h4{color: #121318;font-size: 20px;}
.calendar-detail .event-info h5{font-size: 16px;font-weight: normal;}
.calendar-detail .event-info h6{font-size: 16px;font-weight: normal;}
.calendar-detail .event-info h6 span{}
.calendar-detail .event-detail{background: #f4f4f4;padding: 15px; margin: 15px 0;}
.calendar-detail .event-detail h3{font-size: 20px;}
.calendar-detail .event-detail p{}
.calendar-detail .get-tickets{background: #3574bc;position: absolute;bottom: -40px;width: 100%;height: 50px;font-size: 18px;text-align: center;color: #fff;text-decoration: none;padding-top: 14px;font-weight: bold;}
