<ion-pane class="ion-fb-login">
  <!-- <div class="row ion-fb-login-description">
    <div class="col col-center">
      <h4 class="description-title">IonFB - Ionic PhoneGap/Cordova Facebook Native Integration</h4>
      <p class="padding">IonFB is the first Mobile Native Web Application based on the Ionic Framework with a NATIVE Facebook Login Integration!</p>
    </div>
  </div> -->
  <span ng-bind="logged"></span> 
  <span ng-bind="user.id"></span> 
  <div class="row ion-fb-login-buttons">
    <div class="col col-center">
      <button class="button button-outline button-light" ng-click="login()">
        Login with Facebook
      </button>
    </div>
  </div>
</ion-pane>
